################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Unity/.vs/Unity/v16
/Unity/Library
/Unity/obj/Debug
/Unity/Temp
/Unity/.vsconfig
